<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="reset.css">
</head>
<style>
	body{
		font-size: 26px;
		margin: 80px;
		line-height: 34px;
		color: #666;
	}
    .father{
        display: flex;
    }
    .son1,.son2{
        width: 50%;
        background: lightblue;
    }
    .son2{
        height: 500px;
        background: pink;
    }
</style>
<body ng-app='routingDemoApp' ng-controller="control">

<h2>AngularJS 路由应用</h2>
<ul>
	<li><a href="#/">首页</a></li>
	<li><a href="#/computers">电脑</a></li>
	<li><a href="#/printers">打印机</a></li>
	<li><a href="#/blabla">其他</a></li>
</ul>

    <div class="father">
        <div class="son1"></div>
        <div class="son2"></div>
    </div>



<form name="loginForm" >
    <div>
        <div>用户名：</div>
        <input type="text"
               name="uname"
               ng-model="ame"
               ng-minlength=3
               ng-maxlength=10
               required />
        <div ng-messages="loginForm.uname.$error" >
            <div ng-message="required">用户名不能为空</div>
            <div ng-message="minlength">用户名长度至少为3</div>
            <div ng-message="maxlength">用户名长度不能超过10</div>
        </div>
        <button type="submit">提交</button>
    </div>
</form>



<script src="https://cdn.bootcss.com/angular.js/1.7.0/angular.js"></script>
<script src="https://cdn.bootcss.com/angular-messages/1.7.0/angular-messages.js"></script>
<script src="https://cdn.bootcss.com/angular-ui-router/1.0.18/angular-ui-router.js"></script>
<script>
   var app =  angular.module('routingDemoApp',['ui.router','ngMessages']);
   app.controller('control',function () {
   });

</script>
</body>
</html>






<!--<div ng-app="app" ng-controller="control"  asdf-directive>-->
<!--</div>-->
<!--<script>-->
    <!--var app	= angular.module('app',[]);-->
    <!--app.directive('asdfDirective',function () {-->
        <!--return{-->
            <!--template:'程序员改变世界'-->
        <!--}-->
    <!--})-->


<!--<div ng-app="app" ng-controller="control">-->
	<!--<button ng-click="hiorshow()">隐藏/显示</button>-->
	<!--<p ng-hide="var">-->
		<!--fname: <input type="text" ng-model="fname"><br>-->
		<!--lname: <input type="text" ng-model="lname"><br>-->
		<!--姓名：{{fullname()}}<br>-->
		<!--爱好：吃屎-->
	<!--</p>-->
<!--</div>-->
<!--<script>-->
    <!--var app	= angular.module('app',[]);-->
    <!--app.controller('control',function ($scope) {-->
        <!--$scope.fname = '梁';-->
        <!--$scope.lname = '非凡';-->
        <!--$scope.fullname = function(){-->
            <!--return $scope.fname + $scope.lname;-->
        <!--};-->
        <!--$scope.var = false;-->
        <!--$scope.hiorshow = function () {-->
            <!--$scope.var = !$scope.var;-->
        <!--}-->
    <!--});-->
<!--</script>-->


<!--<div ng-app="app" ng-controller="control">//click事件-->
	<!--<button ng-click="count=count+1">点我</button>-->
	<!--<p>{{count}}</p>-->
<!--</div>-->
<!--<script>-->
    <!--var app	= angular.module('app',[]);-->
    <!--app.controller('control',function ($scope) {-->
        <!--$scope.count = 0;-->
    <!--});-->
<!--</script>-->


<!--<p ng-show="toggle">傻逼了吧</p>//show or hide-->
<!--<p ng-show="toggle">感冒了吧</p>-->
<!--<input type="checkbox" ng-model="toggle">{{toggle}}-->

