<html>
<head>
	<meta charset="UTF-8">
	<!--<link rel="stylesheet" type="text/css" href="reset.css">-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
	body{
		font-size: 26px;
		margin: 80px;
		line-height: 34px;
		color: #666;
	}
    .father{
        display: flex;
    }
    .son1,.son2{
        width: 50%;
        background: lightblue;
    }
    .son2{
        height: 500px;
        background: pink;
    }

</style>
<body ng-app='app' ng-controller="DatepickerPopupDemoCtrl">



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <div class="input-group" >
        <input type="text"
               class="form-control"
               uib-datepicker-popup="{{format}}"
               ng-model="dat"
               is-open="popup1.opened"
               ng-required="true"
               close-text="关闭"
               clear-text="清空"
               current-text="今天"
               alt-input-formats="altInputFormats"
               ng-click="open1()"/>
    </div>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">菜鸟教程</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">iOS</a></li>
                <li><a href="#">SVN</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java <b class="caret"></b>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>
​

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2>AngularJS 路由应用</h2>
<ul>
	<li><a href="#/">首页</a></li>
	<li><a href="#/computers">电脑</a></li>
	<li><a href="#/printers">打印机</a></li>
	<li><a href="#/blabla">其他</a></li>
</ul>

    <div class="father">
        <div class="son1"></div>
        <div class="son2"></div>
    </div>



<form name="loginForm" >
    <div>
        <div>用户名：</div>
        <input type="text"
               name="uname"
               ng-model="ame"
               ng-minlength=3
               ng-maxlength=10
               required />
        <div ng-messages="loginForm.uname.$error" >
            <div ng-message="required">用户名不能为空</div>
            <div ng-message="minlength">用户名长度至少为3</div>
            <div ng-message="maxlength">用户名长度不能超过10</div>
        </div>
        <button type="submit">提交</button>
    </div>
</form>

    <table style="border: 1px solid black;">
        <tr style="border: 1px solid black; text-align: center">
            <th style="text-align: center">asdqwdqwdqwdqwdqwdasd</th>
            <th>asdaqwdqwdqwdqwdqwdsd</th>
            <th>asdasdasdqdqwdqwdqd</th>
            <th>asdasqwdqwdqwdqwdd</th>
        </tr>
        <tr>
            <td style="text-align: center">asdqwdwrg</td>
            <td>asdqwdwrg</td>
            <td>asdqwdwrg</td>
            <td>asdqwdwrg</td>
        </tr>

    </table>
<br>
<br>
<br>
<br>





<div>
    <label>每条显示</label>
    <input type="text">
    <label>条</label>
</div>





<div id="accordion">
    <div  class="panel panel-default">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                第 1 部分
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div>
                Nihil
            </div>
        </div>
    </div>
    <div class="panel panel-default">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                第 2 部分
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                Nihil
            </div>
        </div>
    </div>
    <div class="panel panel-default">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                第 3 部分
            </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                Nihil
            </div>
        </div>
    </div>
</div>




<br>
<br>
<br>
<br>
<br>
<br>


<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/angular.js/1.7.0/angular.js"></script>
<script src="https://cdn.bootcss.com/angular-messages/1.7.0/angular-messages.js"></script>
<script src="https://cdn.bootcss.com/angular-ui-router/1.0.18/angular-ui-router.js"></script>
<script src="https://cdn.bootcss.com/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
<!--<script src="https://cdn.bootcss.com/bootstrap-ui-datetime-picker/2.6.3/datetime-picker.js"></script>-->
<script>
   // var app =  angular.module('routingDemoApp',['ui.router','ngMessages']);
   // app.controller('control',function () {
   // });
var app = angular.module('app',['ui.bootstrap']);
    app.controller('DatepickerPopupDemoCtrl',function ($scope) {


        $scope.dat = new Date();
        $scope.format = "yyyy/MM/dd";
        $scope.altInputFormats = ['yyyy/M!/d!'];

        $scope.popup1 = {
            opened: false
        };
        $scope.open1 = function () {
            $scope.popup1.opened = true;}



    });

   //  angular.module('app', ['ui.bootstrap']).controller('DatepickerPopupDemoCtrl', function ($scope) {
   //     $scope.dat = new Date();
   //     $scope.format = "yyyy/MM/dd";
   //     $scope.altInputFormats = ['yyyy/M!/d!'];
   //
   //     $scope.popup1 = {
   //         opened: false
   //     };
   //     $scope.open1 = function () {
   //         $scope.popup1.opened = true;
   //     };
   // });

</script>
</body>
</html>






<!--<div ng-app="app" ng-controller="control"  asdf-directive>-->
<!--</div>-->
<!--<script>-->
    <!--var app	= angular.module('app',[]);-->
    <!--app.directive('asdfDirective',function () {-->
        <!--return{-->
            <!--template:'程序员改变世界'-->
        <!--}-->
    <!--})-->


<!--<div ng-app="app" ng-controller="control">-->
	<!--<button ng-click="hiorshow()">隐藏/显示</button>-->
	<!--<p ng-hide="var">-->
		<!--fname: <input type="text" ng-model="fname"><br>-->
		<!--lname: <input type="text" ng-model="lname"><br>-->
		<!--姓名：{{fullname()}}<br>-->
		<!--爱好：吃屎-->
	<!--</p>-->
<!--</div>-->
<!--<script>-->
    <!--var app	= angular.module('app',[]);-->
    <!--app.controller('control',function ($scope) {-->
        <!--$scope.fname = '梁';-->
        <!--$scope.lname = '非凡';-->
        <!--$scope.fullname = function(){-->
            <!--return $scope.fname + $scope.lname;-->
        <!--};-->
        <!--$scope.var = false;-->
        <!--$scope.hiorshow = function () {-->
            <!--$scope.var = !$scope.var;-->
        <!--}-->
    <!--});-->
<!--</script>-->


<!--<div ng-app="app" ng-controller="control">//click事件-->
	<!--<button ng-click="count=count+1">点我</button>-->
	<!--<p>{{count}}</p>-->
<!--</div>-->
<!--<script>-->
    <!--var app	= angular.module('app',[]);-->
    <!--app.controller('control',function ($scope) {-->
        <!--$scope.count = 0;-->
    <!--});-->
<!--</script>-->


<!--<p ng-show="toggle">傻逼了吧</p>//show or hide-->
<!--<p ng-show="toggle">感冒了吧</p>-->
<!--<input type="checkbox" ng-model="toggle">{{toggle}}-->

