*{ margin: 0;
	padding: 0;}
 
    .header{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
        background-color: #1d7ad9;}
        .header .content{
            display: flex;
            justify-content: space-between;
            width: 1200px;
            font-size: 14px;
            color: white;
            line-height: 40px;}
        .telephone {
            white-space: nowrap;}
        .login {
            display: flex;
            width: 157px;
            border-left: 1px solid white;
            border-right: 1px solid white;}
            .login span {
                white-space: nowrap;
                padding: 0 10px;}
            .login div {
                width: 110px;
                text-align: center;
                color: black;
                background-color: white;}


    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;}
        .topbackground {
                display: flex;
                justify-content: center;
                width: 100%;
                background-color: lightgrey;}
        .main .topcontent{
            width: 1200px;}
            .liuchengtubtn {
                font-size: 16px;
                display: flex;
                justify-content: flex-end;}
                .liuchengtubtn div {
                    position: relative;
                    padding: 6px 10px;
                    margin: 34px 0 34px 60px;
                    border-radius: 3px;
                    box-shadow: 0 0 1px;
                    background-color: white;}
                .liuchengtubtn .hiddencontent {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 34px;
                    border-radius: 2px;
                    color: white;
                    background-color: #1d7ad9;}
                .liuchengtubtn div:hover .hiddencontent {
                    display: block;}
        .main .content {
            width: 1200px;}
            .liuchengtu {
                display: flex;
                justify-content: flex-end;}
                .liuchenghao {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;}
                .liuchenghao:hover.liuchenghao .hiddencontent {
                    display: block;}
                .liuchenghao .hiddencontent {
                    display: none;
                    position: absolute;
                    color: orange;  }
                    .liuchenghao .hiddencontent div {
                        background-color: orange;}
                    .liuchenghao .hiddencontent .henggang {
                        border-radius: 2.5px;}
                    .henggang {
                        display: flex;
                        justify-content: center;
                        margin-top: 48px; 
                        width: 159px;
                        height: 5px;
                        background-color: #cccccc;}
                    .qianyuandaojiao {
                        border-radius: 2.5px 0 0 2.5px;}
                    .houyuandaojiao {
                        border-radius: 0 2.5px 2.5px 0;}
                    .yuanxing {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: -9px;
                        width: 24px;
                        height: 24px;
                        font-size: 16px;
                        color: white;
                        border-radius: 12px;
                        background-color: #cccccc}
                    .liuchengming {
                        display: inline-block;
                        margin: 34px 0 54px 0;}
            .buzhou {
                display: flex;
                flex-wrap: wrap;}
                .shutiao{
                    width: 4px;
                    height: 21px;
                    border-radius: 2px;
                    background-color: #1d7ad9;}
                .buzhouwenben {
                    padding: 0 0 16px 10px;
                }
            .tiaojian{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                width: 100%;
                height: 44px;
                font-size: 22px;
                color: #1d7ad9;
                background-color: #f3f3f3;}
                .xiangxing {
                    margin: 0 20px;
                    width: 19px;
                    height: 15px;
                    background: url(images/1.png);}
            .tiaojiankuang {
                display: flex;
                flex-wrap: wrap;}
                .tiaojiankuang .btn-group{
                    position: relative;}
                .tiaojiankuang .btn {
                    padding: 0;
                    width: 16px;
                    height: 16px;
                    border: none;
                    border-radius: 8px;}
                .tiaojiankuang .dropdown-menu {
                    position: absolute;
                    top: 0;
                    padding: 0;
                    margin: 0;
                    min-width: 16px;
                    widows: 16px;
                    height: 16px;
                    border: 6px solid #1d7ad9;
                    border-radius: 8px;
                    background-color: white;}




    .footer{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #1d7ad9;}
        .footer .content{
            display: flex;
            justify-content: center;
            font-size: 12px;
            color: white;
            line-height: 40px;}
            .footer .content div {
                padding: 0 12px;}