            *{
                margin: 0;
                padding: 0;
            }
            ul,ol{
                list-style: none;
            }
            /*消除图片底部3像素距离*/
            img{
                vertical-align: top;
            }
            .scroll{
                width: 500px;
                height: 200px;
                border: 1px solid #ccc;
                padding: 7px;
                color: white;
                overflow: hidden;
                position: relative;
                background-color: pink;
            }
            .box{
                width: 500px;
                height: 200px;
                overflow: hidden;
                position: relative;
                background-color: lightblue;
            }
            .box ul{
                width: 600%;
                position: absolute;
                background-color: lightyellow;
                left: 0;
                top: 0;
            }
            .box ul li{
                float: left;
            }
            .scroll ol{
                position: absolute;
                right: 10px;
                bottom: 10px;

            }
            .scroll ol li{
                float: left;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                border-radius: 50%;
                background-color: pink;             
                margin-left:10px ;
                cursor: pointer;
            }
            .scroll ol li.current{
                background-color: purple;}
            .red {
                width: 500px;
                height: 200px;
                background-color: purple;}
            .green{
                width: 500px;
                height: 200px;
                background-color: lightgreen;}
            .blue {
                width: 500px;
                height: 200px;
                background-color: lightblue;}