*{ margin: 0;
	padding: 0;}
	.box1 {
        width: 100%;
        height: 89px;
        background-color: #29bde0;}
    .box2 {
        width: 100%;
        height: 1096px;
        background-color: grey;
        display: flex;
        flex-direction: column;
        align-items: center; }
    .box3 {
        color: #9a9a9a;
        font-size: 35px;
        line-height: 116px;
        text-align: center;
        width: 80%;
        height: 116px;
        background-color: white;
        border: 1px solid grey;
        margin: 40px 0;}
    .box4 {
        width: 80%;
        height: 776px;
        background-color: white;
        border: 1px solid grey;
        margin-top: }/*版本列表*/
    .box5 {
        color: #fdd793;
        line-height: 89px;
        text-align: center;
        font-size: 38px;
        width: 100%;
        height: 89px;
        border-bottom: 2px solid #fdd793;}/*抓鬼header*/
    .box6 {
        width: 100%;
        height: 640px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;}/*列表容器*/
    .box7 {
        color: white;
        font-size: 32px;
        line-height: 134px;
        text-align: center;
        width: 70%;
        height: 134px;
        background-color: #69d1e9;
        margin-top: 30px;}/*蓝框*/
    .box8 {
        width: 100%;
        height: 50PX;
        display: flex;
        justify-content: center;}
    .box9 {
        margin: 10px 5px 5px 5px;
        width: 16px;
        height: 16px;
        border-radius: 8px; 
        background-color: #69d1e9;}
    .box10 {
        margin: 10px 5px 5px 5px;
        width: 16px;
        height: 16px;
        border-radius: 8px; 
        background-color: #e4e4e4;
    }


    .word1 {
        align-content: center;
        line-height: 70px;
        height: 49px;
        font-size: 24px;
        color: grey;}/*1133个用户*/
    .img1 {
        position: relative;
        left: 90%;
        top: -365px;
        width: 28px;
        height: 56px;
        background: url(images/7-5.png);}
    .img2 {
        position: relative;
        top: 25px;
        left: 20px;
        width: 39px;
        height: 40px;
        background: url(images/7-9.png);}