f*{ margin: 0;
	padding: 0;}
body  {}
    .box1 {
        width: 100%;
        height: 39px;
        background-color: white;
        line-height: 39px;
        position: relative;}
    .box2 {
        width: 100%;
        height: 99px;
        background-color: #29b078;
        line-height: 99px;
        position: relative;}
    .box3 {
        width: 100%;
        height: 248px;
        position: relative;}
    .box4 {
        width: 64%;
        height: 1413px;
        margin-left: 18%;}
    .box5 {
        width: 100%;
        height: 78px;
        background-color: white;
        line-height: 78px;}
    .box5 span {
        color: #29b078;}
    .box6{
        width: 100%;
        height: 1200px;
        background-color: white;
        position: relative;}
    .box7 {
        width: 304px;
        height: 708px;
        box-shadow: 0px 0px 1px;
        position: absolute;
        top: 0;
        left: 0}
    .box8 {
        width: 870px;
        height: 1101px;
        box-shadow: 0px 0px 1px;
        position: absolute;
        right: 0;
        top: 0;}
    .box9 {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid lightgrey;
        text-align: center;
        line-height: 50px;
        font-weight: bold;
        font-size: 16px}
    .box10 {
        width: 100%;
        height: 658px;
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;}
    .box11 {
        width: 90px;
        height: 20px;
        border: none;
        background-color: white;
        position: relative;
        color: #29b078;}
    .box11hidden {
        color: #ff650e;
        z-index: 10;
        position: absolute;
        top: 0;
        background-color: white;}
    .orange {
        display: none;
        z-index: 10;}

    .box11:hover .orange{
        display: block;}

    .box11 span{
        margin-left: 15px;}
    .box12 {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 1px solid #fe6711;
        position: absolute;
        left: 0px;
        top: 5px;}
    .box12hidden {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #f9a372;
        border: 1px solid #fe6711;
        position: absolute;
        left: 0px;
        top: 5px;
        z-index: 11;}
    .box13 {
        width: 100%;
        height: 156px;
        position: relative;
        border-bottom: 1px solid lightgrey;}
    .box14 {
        width: 100%;
        height: 945px;
        padding: 50px 0;
        color: #999999;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;}
    .box15 {
        width: 80%;}

    .box23 {
        width: 100%;
        height: 202px;
        font-size: 16px;
        color: white;
        position: relative;
        background-color: #26a26f;}
    .box24 {
        text-align: center;
        line-height: 31px;
        width: 100%;
        height: 31px;
        border: 1px solid #32c086;
        position: absolute;
        bottom: 0;}
















    .word1 {
        font-size: 14px;
        color: #29b078;
        position: absolute;
        left: 20%;}
    .word2 {
        font-size: 16px;
        color: white;
        position: absolute;
        right: 18%;}
    .word2 a {
        display: inline-block;
        width: 99px;
        height: 99px;
        text-align: center;
        cursor: pointer;
        color: white;
        text-decoration: none;}
    .word2hidden {
        display: none;
        width: 99px;
        height: 3px;
        background-color: white;
        position: absolute;
        bottom: 0;
        z-index: 100;}
    .word2 a:hover .word2hidden{
        display: block;}
    .word3 {
        color: #999999;
        font-size: 14px;
        line-height: 26px;
        width: 65%;
        position: absolute;
        right: 5%;
        top: 15%;}
    .word4 {
        font-size: 45px;
        color: white;
        position: absolute;
        left: 45%;
        top: 45%;
        margin-top: -22.5px;
        font-family: 造字工房朗倩（非商用）;}
    .word5 {
        font-size: 62px;
        color: white;
        position: absolute;
        left: 56%;
        top: 55%;
        margin-top: -22.5px;
        font-family: 造字工房朗倩（非商用）;}
    .word6 {
        color: white;
        width: 120px;
        font-size: 20px;
        position: absolute;
        line-height: 22px;
        top: 61%;
        left: 46%;}
    .word16 {
        position: absolute;
        top: 15%;
        left: 18%;}
    .word161 {
        position: absolute;
        top: 55%;
        left: 18%;}
    .word162 {
        position: absolute;
        top: 15%;
        left: 35%;}
    .word163 {
        position: absolute;
        top: 35%;
        left: 35%;}
    .word164 {
        position: absolute;
        top: 35%;
        left: 42%;}
    .word165 {
        position: absolute;
        top: 55%;
        left: 35%;}
    .word166 {
        position: absolute;
        top: 55%;
        left: 42%;}
    .word167 {
        width: 100px;
        position: absolute;
        top: -30%;
        left: -3px;}
    .word7 {
        font-size: 38px;
        position: absolute;
        color: white;
        font-family: 造字工房朗倩（非商用）;
        left: 18%;}
    .word8 {
        font-size: 10px;
        position: absolute;
        color: white;
        font-family: 造字工房朗倩（非商用）;
        left: 18%;
        top: 26%;}












    .img1 {
        max-width: 100%;
        width: 1920px;
        height: 248px;
        background: url(images/1-3.png);
        position: relative;}
    .img2  {
        position: absolute;
        top: 7px;
        right: 19%;
        width: 25px;
        height: 24px;
        background: url(images/1-19.png);}
    .img3 {
        position: absolute;
        top: 7px;
        right: 22%;
        width: 25px;
        height: 24px;
        background: url(images/1-20.png);}
    .img4 {
        position: absolute;
        top: 7px;
        right: 25%;
        width: 25px;
        height: 24px;
        background: url(images/1-21.png);}
    .img5 {
        width: 134px;
        height: 122px;
        background: url(images/1-1.png);
        position: absolute;
        margin-top: -61px;
        top: 50%;
        left: 10%;}

    .img13 {
        width: 92px;
        height: 92px;
        background: url(images/1-16.png) no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        right: 20%;}

