*{ margin: 0;
	padding: 0;}
body  {
    background-color: rgb(200,200,200);}

    .box1 {
        width: 100%;
        height: 39px;
        position: relative;}
    .box2 {
        width: 100%;
        height: 60px;
        background-color: #29b078;
        line-height: 60px;
        position: relative;}
    .box5 {
    	height: 1400px;
    }
    .box10 {
            height: 700px;}
    .box17{
            height: 1000px;}
    .box18{
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: none;
            height: 900px;}
    .box19 {
            height: 500px;}
    .box20 {
            margin-left: calc( 50% - 100px );
            width: 200px;
            height: 200px;
            flex-wrap: wrap;}
    .box16{
        height: 1900px;}
    .box9 {
            border: none;}







    .word1 {
        font-size: 14px;
        color: #29b078;
        position: absolute;
        left: 10%;}
    .word2 {
        display: none;}
    .word17 {
        font-size: 22px;
        position: absolute;
        color: white;
        font-family: 造字工房朗倩（非商用）;
        left: 5%;}
    .word18 {
        font-size: 10px;
        position: absolute;
        color: white;
        font-family: 微软雅黑;
        left: 5%;
        top: 30%;}



    .img2  {
        position: absolute;
        top: 7px;
        right: 6%;
        width: 25px;
        height: 24px;
        background: url(images/1-21.png);}
    .img3 {
        position: absolute;
        top: 7px;
        right: 15%;
        width: 25px;
        height: 24px;
        background: url(images/1-20.png);}
    .img4 {
        position: absolute;
        top: 7px;
        right: 24%;
        width: 25px;
        height: 24px;
        background: url(images/1-19.png);}
    .img14 {
        width: 39px;
        height: 40px;
        background: url(images/1-24.png);
        position: absolute;
        top: 50%;
        margin-top: -20px;
        right: 10%;
        border: none;}
    .img14hidden {
        position: absolute;
        left: 60%;
        display: none;
        width: 150px;
        height: 200px;
        margin: 0;
        padding: 0;
        z-index: 10;
        outline: none;}
    .btn {
        display: block;}
    .dropdown-backdrop {
        display: none;}
    .content {
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;}
    #img14 {
        position: absolute;
        top: 50%;
        left: 20%;
        margin-top: -23px;
        width: 27px;
        height: 46px;
        background: url(images/1-22.png);}
    #img15 {
        top: 50%;
        margin-top: -23px;
        position: absolute;
        left: 20%;
        width: 27px;
        height: 46px;
        background: url(images/1-23.png);}










            .img8 {
            left: 35%;}
    .img9 {
            left: 35%;}
    .img13 {
            top: 20%;}
    .word7 {
            left: 43%;}
    .word8 {
            left: 37%;}
    .word9 {
            left: 43%;}
    .word10 {
            left: 37%;}
    .word14 {
        height: 60px;}
    .word16 {
        position: absolute;
        top: 5%;
        left: 5%;}
    .word161 {
        position: absolute;
        top: 15%;
        left: 5%;}
    .word162 {
        position: absolute;
        top: 25%;
        left: 5%;}
    .word163 {
        position: absolute;
        top: 35%;
        left: 5%;}
    .word164 {
        position: absolute;
        top: 45%;
        left: 5%;}
    .word165 {
        position: absolute;
        top: 55%;
        left: 5%;}
    .word166 {
        position: absolute;
        top: 65%;
        left: 5%;}
    .word167 {
        width: 100px;
        position: absolute;
        top: -30%;
        left: -3px;}
