*{ margin: 0;
	padding: 0;}
body  {
    background-color: rgb(200,200,200);}

    .box1 {
        width: 100%;
        height: 39px;
        background-color: lightgrey;
        position: relative;}
    .box2 {
        width: 100%;
        height: 60px;
        background-color: #29b078;
        line-height: 60px;
        position: relative;}
    






    .word1 {
        font-size: 14px;
        color: #29b078;
        position: absolute;
        left: 10%;}
    .word2 {
        display: none;}
    .word17 {
        font-size: 22px;
        position: absolute;
        color: white;
        font-family: 造字工房朗倩（非商用）;
        left: 5%;}
    .word18 {
        font-size: 10px;
        position: absolute;
        color: white;
        font-family: 微软雅黑;
        left: 5%;
        top: 30%;}



    .img1 {
        width: 1920px;
        height: 600px;
        max-width: 100%;}
    .img2  {
        position: absolute;
        top: 7px;
        right: 6%;
        width: 25px;
        height: 24px;
        background: url(images/1-21.png);}
    .img3 {
        position: absolute;
        top: 7px;
        right: 15%;
        width: 25px;
        height: 24px;
        background: url(images/1-20.png);}
    .img4 {
        position: absolute;
        top: 7px;
        right: 24%;
        width: 25px;
        height: 24px;
        background: url(images/1-19.png);}
    .img14 {
        width: 39px;
        height: 40px;
        background: url(images/1-24.png);
        position: absolute;
        top: 50%;
        margin-top: -20px;
        right: 10%;
        border: none;
        outline: medium;}
    .img14hidden {
        display: none;
        width: 150px;
        height: 200px;
        background-color: lightgrey;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 10;}
    .content {
        width: 100%;
        height: 50px;
        background-color: white;
        text-align: center;
        line-height: 50px;}
    #img14 {
        position: absolute;
        top: 50%;
        left: 20%;
        margin-top: -23px;
        width: 27px;
        height: 46px;
        background: url(images/1-22.png);}
    #img15 {
        top: 50%;
        margin-top: -23px;
        position: absolute;
        left: 20%;
        width: 27px;
        height: 46px;
        background: url(images/1-23.png);}