*{ margin: 0;
	padding: 0;}
body  {}
    .box1 {
        width: 100%;
        height: 39px;
        background-color: white;
        line-height: 39px;
        position: relative;}
    .box2 {
        width: 100%;
        height: 99px;
        background-color: #29b078;
        line-height: 99px;
        position: relative;}
    .box3 {
        width: 100%;
        height: 3100px;
        position: relative;}
    .box4 {
        width: 64%;
        height: 3000px;
        position: absolute;
        left: 18%;
        right: 18%;}
    .box5 {
        width: 100%;
        height: 81px;
        border-bottom: 1px solid grey;
        line-height: 81px;
        font-size: 16px;}
    .box5 span  {
        color: #29b078;}
    .box6 {
        line-height: 61px;
        width: 100%;
        height: 61px;
        border-bottom: 1px solid grey;}
    .box6 span {
        margin-right: 20px;}
    .box7 {
        width: 100%;
        height: 575px;
        position: relative;}
    .box7secondline {
        width: 100%;
        height: 1070px;
        position: relative;}

    .box8 {
        width: 100%;
        height: 81px;
        border-bottom: 1px solid grey;
        line-height: 81px;
        font-size: 16px;}
    .box9 {
        position: absolute;
        top: 130px;
        width: 100%;
        height: 455px;
        margin: 0;
        padding: 0;}
    .box9secondline {
        position: absolute;
        top: 130px;
        width: 100%;
        height: 1010px;
        margin: 0;
        padding: 0;}
    .box9child {
        width: 100%;
        height: 455px;}
    .box10father {
        width: 100%;
        height: 444px;}
    .box10 {
        width: 97%;
        height: 444px;
        box-shadow: 1px 1px 4px;
        position: absolute;
        top: 5px;
        border-radius: 3PX;
        background-color: white;}
    .box10secondline {
        width: 97%;
        height: 444px;
        box-shadow: 1px 1px 4px;
        position: absolute;
        top: 500px;
        border-radius: 3PX;
        background-color: white;}
    .box10left {
        position: absolute;
        right: -15px;}
    .box10center {
        position: absolute;
        right: -7.5px;} 
    .box10hidden {
        display: none;
        width: 100%;
        height: 444px;
        border-radius: 3px;
        background-color: rgba(10,10,10,.6);
        position: absolute;
        z-index: 10;}
    .box10:hover .box10hidden{
        display: block;}
    .box10secondline:hover .box10hidden{
        display: block;}
    .box11 {
        width: 100%;
        height: 280px;
        border-top: 1px solid grey;
        position: absolute;
        bottom: 0; 
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        white-space: nowrap;
        color: grey;}
    .box12 {
        width: 50%;
        height: 42px;
        border-right: 1px solid grey;
        line-height: 42px;
        position: relative;}
    .box13 {
        width: 50%;
        height: 42px;
        line-height: 42px;
        position: relative;}
    .box13 {
        width: 50%;
        height: 42px;
        line-height: 42px;
        border: 1px 1px 1px solid grey;
        position: relative;}
    .box14 {
        width: 50%;
        height: 42px;
        line-height: 42px;
        border: 1px solid grey;
        border-left: none;
        position: relative;}
    .box14 span {
        color: red;
        margin-left: 5%;}
    .box15 {
        width: 50%;
        height: 42px;
        line-height: 42px;
        border: 1px solid grey;
        border-left: none;
        border-right: none;
        position: relative;}
    .box15 span {
        color: red;
        margin-left: 5%;}
    .box15 div .black {
        display: inline-block;
        color: black;}
    .box16 {
        width: 100%;
        height: 106px;}
    .box17 {
        width: 30%;
        height: 105px;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        line-height: 105px;
        text-align: center;
        float: left;}
    .box18 {
        width: 70%;
        height: 35px;
        border-bottom: 1px solid grey;
        line-height: 35px;
        float: left;
        position: relative;
        color: black;}
    .box18 span {
        margin-left: 10%;}
    .box18 div  {
        display: inline-block;
        position: absolute;
        right: 10%;}
    .box19 {
        color: black;
        line-height: 40px;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid grey;
        font-weight: bold;}
    .box19 div {
        margin-left: 3%;}
    .box19 span {
        color: red;}
    .box20 {
        line-height: 40px;
        width: 100%;
        height: 40px;
        font-size: 12px;
        padding: 0 12px;}

    .box23 {
        width: 100%;
        height: 202px;
        font-size: 16px;
        color: white;
        position: relative;
        background-color: #26a26f;}
    .box24 {
        text-align: center;
        line-height: 31px;
        width: 100%;
        height: 31px;
        border: 1px solid #32c086;
        position: absolute;
        bottom: 0;}














    .word1 {
        font-size: 14px;
        color: #29b078;
        position: absolute;
        left: 20%;}
    .word2 {
        font-size: 16px;
        color: white;
        position: absolute;
        right: 18%;}
    .word2 a {
        display: inline-block;
        width: 99px;
        height: 99px;
        text-align: center;
        cursor: pointer;
        color: white;
        text-decoration: none;}
    .word2hidden {
        display: none;
        width: 99px;
        height: 3px;
        background-color: white;
        position: absolute;
        bottom: 0;
        z-index: 100;}


    .word2 a:hover .word2hidden{
        display: block;}

    .word3 {
        color: grey;}
    .word4 {
        color: white;
        padding: 5px;
        background-color: #29b078;}
    .word5 {
        font-size:16px;
        font-weight: bold;
        position: absolute;
        left: 40%;
        top: 5%}
    .word6 {
        width: 60%;
        font-size: 14px;
        position: absolute;
        left: 40%;
        top: 14%;}
    .word7 {
        position: absolute;
        left: 10%;}
    .word8 {
        position: absolute;
        left: 10%;}
    .word9 {
        padding: 12%;
        padding-top: 30%;
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-align: center;}
    .word9 div {
        text-align: left;}
    .word16 {
        position: absolute;
        top: 15%;
        left: 18%;}
    .word161 {
        position: absolute;
        top: 55%;
        left: 18%;}
    .word162 {
        position: absolute;
        top: 15%;
        left: 35%;}
    .word163 {
        position: absolute;
        top: 35%;
        left: 35%;}
    .word164 {
        position: absolute;
        top: 35%;
        left: 42%;}
    .word165 {
        position: absolute;
        top: 55%;
        left: 35%;}
    .word166 {
        position: absolute;
        top: 55%;
        left: 42%;}
    .word167 {
        width: 100px;
        position: absolute;
        top: -30%;
        left: -3px;}
    .word17 {
        font-size: 38px;
        position: absolute;
        color: white;
        font-family: 造字工房朗倩（非商用）;
        left: 18%;}
    .word18 {
        font-size: 10px;
        position: absolute;
        color: white;
        font-family: 造字工房朗倩（非商用）;
        left: 18%;
        top: 26%;}








    .img2  {
        position: absolute;
        top: 7px;
        right: 19%;
        width: 25px;
        height: 24px;
        background: url(images/1-19.png);}
    .img3 {
        position: absolute;
        top: 7px;
        right: 22%;
        width: 25px;
        height: 24px;
        background: url(images/1-20.png);}
    .img4 {
        position: absolute;
        top: 7px;
        right: 25%;
        width: 25px;
        height: 24px;
        background: url(images/1-21.png);}
    .img5 {
        width: 139px;
        height: 139px;
        background: url(images/1-17.png);
        position: absolute;
        top: 2%;
        left: 2%;}
    .img6 {
        width: 16px;
        height: 15px;
        background: url(images/1-15.png);
        position: absolute;
        left: 30%;
        top: 50%;
        margin-top: -7px;}
    .img7 {
        width: 16px;
        height: 15px;
        background: url(images/1-15.png);
        position: absolute;
        left: 45%;
        top: 50%;
        margin-top: -7px;}
    .img8 {
        width: 16px;
        height: 15px;
        background: url(images/1-15.png);
        position: absolute;
        left: 57%;
        top: 50%;
        margin-top: -7px;}
    .img13 {
        width: 92px;
        height: 92px;
        background: url(images/1-16.png) no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        right: 20%;}
